In [35]:
import pandas as pd

df = pd.read_csv('anonymized_royalties.csv')
print("Number of rows: ", df.shape[0])
df.round(5).head()

Number of rows:  122534

,Report Date,Sales Date,Quantity,Price,Subtotal,Album Name,Track Name,Partner Name,Transaction Type,Delivery Country
0,2017-10-16,2017-08-15,7,0.00077,0.00541,Album_1,Track_1_1,Pandora Radio,Stream,US
1,2017-10-16,2017-08-15,1,0.00077,0.00077,Album_1,Track_1_2,Pandora Radio,Stream,US
2,2017-10-16,2017-08-15,2,0.00077,0.00155,Album_1,Track_1_3,Pandora Radio,Stream,US
3,2017-10-16,2017-08-15,40,0.00077,0.03094,Album_1,Track_1_4,Pandora Radio,Stream,US
4,2017-10-16,2017-08-15,36,0.00077,0.02785,Album_1,Track_1_5,Pandora Radio,Stream,US

In [36]:
# Change Quantity column to int type
df.Quantity = df.Quantity.astype(int)

# Remove rows with negative values
df = df[df.Quantity > 0]
df = df[df.Price > 0]
df = df[df.Subtotal > 0]

print("Number of rows: ", df.shape[0])
df.round(5).head()

Number of rows:  120079

,Report Date,Sales Date,Quantity,Price,Subtotal,Album Name,Track Name,Partner Name,Transaction Type,Delivery Country
0,2017-10-16,2017-08-15,7,0.00077,0.00541,Album_1,Track_1_1,Pandora Radio,Stream,US
1,2017-10-16,2017-08-15,1,0.00077,0.00077,Album_1,Track_1_2,Pandora Radio,Stream,US
2,2017-10-16,2017-08-15,2,0.00077,0.00155,Album_1,Track_1_3,Pandora Radio,Stream,US
3,2017-10-16,2017-08-15,40,0.00077,0.03094,Album_1,Track_1_4,Pandora Radio,Stream,US
4,2017-10-16,2017-08-15,36,0.00077,0.02785,Album_1,Track_1_5,Pandora Radio,Stream,US

In [37]:
# Remove downloads from data
df = df[df['Transaction Type'] != 'Download']

print("Number of rows: ", df.shape[0])
df.round(5).head()

Number of rows:  119956

,Report Date,Sales Date,Quantity,Price,Subtotal,Album Name,Track Name,Partner Name,Transaction Type,Delivery Country
0,2017-10-16,2017-08-15,7,0.00077,0.00541,Album_1,Track_1_1,Pandora Radio,Stream,US
1,2017-10-16,2017-08-15,1,0.00077,0.00077,Album_1,Track_1_2,Pandora Radio,Stream,US
2,2017-10-16,2017-08-15,2,0.00077,0.00155,Album_1,Track_1_3,Pandora Radio,Stream,US
3,2017-10-16,2017-08-15,40,0.00077,0.03094,Album_1,Track_1_4,Pandora Radio,Stream,US
4,2017-10-16,2017-08-15,36,0.00077,0.02785,Album_1,Track_1_5,Pandora Radio,Stream,US

In [34]:
# Clean up partner names
df.loc[df['Partner Name'].str.contains('Amazon'), 'Partner Name'] = 'Amazon'
df.loc[df['Partner Name'].str.contains('Apple'), 'Partner Name'] = 'Apple'
df.loc[df['Partner Name'].str.contains('Pandora'), 'Partner Name'] = 'Pandora'
df.loc[df['Partner Name'].str.contains('Google'), 'Partner Name'] = 'Google'
df.loc[df['Partner Name'].str.contains('iTunes'), 'Partner Name'] = 'iTunes'
df.loc[df['Partner Name'].str.contains('Youtube'), 'Partner Name'] = 'Youtube'
df.loc[df['Partner Name'].str.contains('YouTube'), 'Partner Name'] = 'Youtube'

df['Partner Name'].unique()

array(['Pandora', 'Amazon', 'iTunes', 'Apple', 'Spotify', 'Groove',
       'Youtube', 'Google', 'KKBox', 'Deezer', 'Tidal', 'MediaNet',
       'Napster', 'iHeartRadio', 'Facebook', 'SoundExchange', 'Yandex',
       'Saavn', 'AWA', 'Anghami', 'soundtrack your brand',
       'United Media Agency (UMA)', 'TikTok',
       'Tencent Music Entertainment (TME)', 'NetEase Cloud Music',
       'Resso', 'Qobuz', 'KDigital', 'Snapchat', 'Boomplay', 'Trebel'],
      dtype=object)

In [38]:
# Save cleaned data
df.to_csv('royalties_cleaned.csv', index=False)